# Built application files
*.apk
*.ap_
*.aab
*.apks
*.dex
*.class
bin/
gen/
out/
.gradle/
build/
local.properties
proguard/
*.log
.navigation/
captures/
*.iml
.idea/
*.jks
*.keystore
.externalNativeBuild/
.cxx/
google-services.json
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
fastlane/readme.md
vcs.xml
*.orig
*.swp
*~
.DS_Store
sdk/
app/build/